body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:20px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:152px;
  top:220px;
  width:320px;
  height:380px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:380px;
}
#u3 {
  position:absolute;
  left:2px;
  top:182px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:255px;
  top:600px;
  width:105px;
  height:105px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:163px;
  top:613px;
  width:93px;
  height:77px;
  -webkit-transform:rotate(338deg);
  -moz-transform:rotate(338deg);
  -ms-transform:rotate(338deg);
  transform:rotate(338deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:77px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:367px;
  top:609px;
  width:93px;
  height:77px;
  -webkit-transform:rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform:rotate(12deg);
  transform:rotate(12deg);
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:77px;
}
#u9 {
  position:absolute;
  left:2px;
  top:30px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:201px;
  top:143px;
  width:60px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u11 {
  position:absolute;
  left:158px;
  top:140px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:201px;
  top:164px;
  width:60px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u14 {
  position:absolute;
  left:158px;
  top:161px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:201px;
  top:185px;
  width:60px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u17 {
  position:absolute;
  left:158px;
  top:182px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:201px;
  top:205px;
  width:60px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u20 {
  position:absolute;
  left:172px;
  top:202px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:253px;
  top:143px;
  width:60px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u23 {
  position:absolute;
  left:253px;
  top:164px;
  width:60px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u24 {
  position:absolute;
  left:253px;
  top:185px;
  width:60px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u25 {
  position:absolute;
  left:253px;
  top:205px;
  width:60px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u26 {
  position:absolute;
  left:305px;
  top:143px;
  width:60px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u27 {
  position:absolute;
  left:305px;
  top:164px;
  width:60px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u28 {
  position:absolute;
  left:305px;
  top:185px;
  width:60px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u29 {
  position:absolute;
  left:305px;
  top:205px;
  width:60px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u30 {
  position:absolute;
  left:357px;
  top:143px;
  width:60px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u31 {
  position:absolute;
  left:357px;
  top:164px;
  width:60px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u32 {
  position:absolute;
  left:357px;
  top:185px;
  width:60px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u33 {
  position:absolute;
  left:357px;
  top:205px;
  width:60px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u34 {
  position:absolute;
  left:411px;
  top:136px;
  width:9px;
  height:13px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:13px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:411px;
  top:155px;
  width:9px;
  height:13px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:13px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:411px;
  top:176px;
  width:9px;
  height:13px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:13px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:411px;
  top:197px;
  width:9px;
  height:13px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:13px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:201px;
  top:136px;
  width:16px;
  height:12px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:201px;
  top:157px;
  width:16px;
  height:12px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:201px;
  top:179px;
  width:16px;
  height:12px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:201px;
  top:200px;
  width:16px;
  height:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:440px;
  top:166px;
  width:20px;
  height:20px;
  font-size:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:154px;
  top:228px;
  width:318px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:4px;
  width:318px;
  height:2px;
}
#u53 {
  position:absolute;
  left:151px;
  top:320px;
  width:318px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:4px;
  width:318px;
  height:2px;
}
#u54 {
  position:absolute;
  left:152px;
  top:420px;
  width:318px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:4px;
  width:318px;
  height:2px;
}
#u55 {
  position:absolute;
  left:151px;
  top:510px;
  width:318px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:4px;
  width:318px;
  height:2px;
}
#u56 {
  position:absolute;
  left:188px;
  top:248px;
  width:249px;
  height:69px;
  font-size:60px;
  color:#CCCCCC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:69px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:158px;
  top:268px;
  width:53px;
  height:32px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u59 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:158px;
  top:548px;
  width:53px;
  height:32px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u61 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:188px;
  top:341px;
  width:249px;
  height:69px;
  font-size:60px;
  color:#CCCCCC;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:69px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:158px;
  top:360px;
  width:53px;
  height:32px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:187px;
  top:438px;
  width:249px;
  height:69px;
  font-size:60px;
  color:#CCCCCC;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:69px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:158px;
  top:458px;
  width:53px;
  height:32px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u69 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:277px;
  top:524px;
  width:61px;
  height:69px;
  font-size:60px;
  color:#CCCCCC;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:69px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:540px;
  top:12px;
  width:265px;
  height:28px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:28px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:540px;
  top:60px;
  width:892px;
  height:840px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:840px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:405px;
  top:531px;
  width:62px;
  height:62px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u77 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:306px;
  top:489px;
  width:109px;
  height:71px;
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  transform:rotate(10deg);
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:71px;
}
#u79 {
  position:absolute;
  left:2px;
  top:28px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
